main.quiz {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 550px;
    min-width: 300px;
    margin: 5px auto 0 auto;
    padding: 40px 0px 25px;

    div.question {
        border-bottom: 1px solid #dbdef0;
        padding: 30px 0;

        div.question--info {
            display: flex;
            margin-bottom: 10px;
            font-size: 16px;

            h5.question--category {
                color: #2e2e2e;
                background-color: #f0f0f03c;
                padding: 5px 10px;
                border-radius: 20px;
            }

            h5.question--difficulty {
                border-radius: 20px;
                padding: 10px 20px;
                margin-right: 5px;

                &.hard {
                    background-color: #ff00003c;
                }
                &.medium {
                    background-color: #e5fe053c;
                }
                &.easy {
                    background-color: #00ff003c;
                }
            }
        }

        h3.question--question {
            color: #f0f0f0;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 10px;
        }

        div.question--answers {
            display: flex;
            flex-flow: wrap;
            gap: 13px;
            color: #2e2e2e;

            span.question--answer {
                font-size: 14px;
                font-weight: 500;
                text-align: center;
                min-width: 70px;
                border: 0.8px solid #4d5b9e;
                border-radius: 8px;
                padding: 6px 12px;
                background-color: #f0f0f0d6;
                cursor: pointer;
                font-weight: 700;
                box-shadow: 0px 0px 20px -3px #00000026;
            }

            span.question--answer.incorrect {
                background-color: #e63b3b;
                color: #f0f0f0;
            }
            span.question--answer.correct {
                background-color: #94d7a2;
            }
            span.question--answer.off {
                opacity: 0.9;
            }
            span.question--answer.selected {
                border: 0.8px solid #f0f0f0d1;
                background-color: #4d5b9e;
                color: #f0f0f0;
            }
        }
    }

    div.quiz--result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0 30px 0;

        p.quiz--score {
            color: #ffffff;
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 30px;
        }

        div.buttons--container {
            button.quiz--btn,
            a.quiz--btn {
                display: block;
                text-align: center;
                margin: 10px 0;
                width: 100%;
                padding: 10px 40px;
                font-size: 18px;
                font-weight: 700;
                background-color: #f0f0f0;
                color: #4d5b9e;
                border-radius: 10px;
                box-shadow: var(--boxshadowOutside);

                &:hover {
                    box-shadow: var(--boxshadowInside);
                }
                &:active {
                    box-shadow: var(--boxshadowInside);
                }

                &.play--again {
                    background-color: #94d7a2;
                    margin-left: 10px;
                }

                &.twitter {
                    margin-right: 10px;
                }
            }

            div.logo--buttons {
                display: flex;
            }
        }
    }
}
